<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgear.webapp.dao.ComponentMapper">

    <resultMap id = "componentMap" type = "com.fgear.webapp.domain.Component">
        <result property = "componentID" column = "componentID"/>
        <result property = "componentName" column = "componentName"/>
        <result property = "price" column = "price"/>
        <result property = "quantity" column = "quantity"/>
        <result property = "image" column = "image"/>
        <result property = "description" column = "description"/>
        <result property = "brandID" column = "brandID"/>
        <result property = "categoryID" column = "categoryID"/>
        <result property = "status" column = "status"/>
    </resultMap>

    <resultMap id = "componentMapForUser" type = "com.fgear.webapp.responseType.ComponentResponseForUser">
        <result property = "componentID" column = "componentID"/>
        <result property = "componentName" column = "componentName"/>
        <result property = "price" column = "price"/>
        <result property = "quantity" column = "quantity"/>
        <result property = "image" column = "image"/>
        <result property = "description" column = "description"/>
        <result property = "brandName" column = "brandName"/>
        <result property = "categoryID" column = "categoryID"/>
        <result property = "status" column = "status"/>
    </resultMap>
    <select id="getAllComponent" resultMap="componentMapForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component,Brand WHERE Component.brandID = Brand.brandID;
    </select>

    <select id="getComponentByName" resultMap="componentMapForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component,Brand
        WHERE componentName like CONCAT('%', #{componentName}, '%') AND Component.brandID = Brand.brandID;
    </select>

    <select id="getComponentByBrand" resultMap="componentMapForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component,Brand
        WHERE Component.brandID = #{brandID} AND Component.brandID = Brand.brandID;
    </select>

    <select id="getComponentDetail" resultType="com.fgear.webapp.responseType.ComponentResponseForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component,Brand
        WHERE componentID = #{componentID} AND Component.brandID = Brand.brandID;
    </select>

    <select id="getComponentListByCategoryTypeID" resultMap="componentMapForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component, Category, CategoryType,Brand
        WHERE Component.categoryID = Category.categoryID
        AND CategoryType.categoryTypeID = Category.categoryTypeID
        AND Category.categoryTypeID = #{categoryTypeID}
        AND Component.brandID = Brand.brandID;
    </select>

    <select id="getComponentByCategoryID" resultMap="componentMapForUser">
        SELECT
        componentID,
        componentName,
        price,
        quantity,
        image,
        description,
        brandName,
        categoryID,
        status
        FROM Component,Brand
        WHERE categoryID = #{categoryID} AND Component.brandID = Brand.brandID;
    </select>

</mapper>