<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgear.webapp.dao.UserMapper">

    <resultMap id = "userMap" type = "com.fgear.webapp.responseType.UserResponse">
        <result property = "userID" column = "userID"/>
        <result property = "userName" column = "userName"/>
        <result property = "phone" column = "phone"/>
        <result property = "email" column = "email"/>
        <result property = "image" column = "image"/>
        <result property = "facebook" column = "facebook"/>
        <result property = "image" column = "image"/>
        <result property = "status" column = "status"/>
        <result property = "addressID" column = "addressID"/>
    </resultMap>

    <select id="findUserById" resultType="com.fgear.webapp.domain.User">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        password,
        image,
        roleID,
        status,
        addressID
        FROM User where userID = #{userID};
    </select>

    <select id="getListUserWithRoleUser" resultMap="userMap">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        image,
        status
        FROM User where roleID = 2;
    </select>

</mapper>